<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ReplacePath" value="%USERPROFILE%" />
    <add key="ApplicationsDir" value="%USERPROFILE%\Documents\GitHub\wa_ass8\Mvc\bin\Debug\" />
    <add key="Virtual" value="%USERPROFILE%\Documents\GitHub\wa_ass8\PHttp\Virtual\" />
    <add key="Views" value="%USERPROFILE%\Documents\GitHub\wa_ass8\PHttp\Virtual\views\" />
    <!--<add key="ApplicationsDir" value="/mnt/c/Users/Marco/Documents/GitHub/wa_ass8/Mvc/bin/Debug" />-->
    <!--<add key="Resources" value="/mnt/c/Users/Marco/Documents/GitHub/wa_ass8/PHttp/Resources/" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>