<body>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div id="readme" class="panel" style="padding-left: 1%; padding-right: 1%;">
				<div class="panel-body">
					<span style="font-size: 32px;">URL shortener</span>
					<br>
					<span style="font-size: 24px;">(App on top of your MVC Web Framework)</span>
					<br><br>
					<p>URL shortening is a technique on the World Wide Web in which a Uniform Resource Locator (URL) may be made substantially shorter and still direct to the required page.
						<br>This is achieved by using a redirect which links to the web page that has a long URL.
						For example, the URL "<a href="http://example.com/about/index.html">http://example.com/about/index.html</a>" can be shortened to "<a href="https://goo.gl/aO3Ssc">https://goo.gl/aO3Ssc</a>".
						<br>Often the redirect domain name is shorter than the original one.
						<br>A friendly URL may be desired for messaging technologies that limit the number of characters in a message (for example SMS), for reducing the amount of typing required if the reader is copying a URL from a print source, for making it easier for a person to remember, or for the intention of a permalink. In November 2009, the shortened links of the URL shortening service Bitly were accessed 2.1 billion times.
						Source: <a href="https://en.wikipedia.org/wiki/URL_shortening">Wikipedia</a>.</p>
					<p>We will be creating an URL shortener as our final assignment.</p>
					<h3>Requirements</h3>
					<ul>
						<li>You should be able to visit the application's main page, and submit an URL to a single input form and get it's shortened version.
							<ul>
								<li>Shortening can be done anonymously (the username field would be empty on the persistence layer)</li>
								<li>When doing anonymous shortening a robot validation should be use (ReCaptcha sounds like a good fit for this)</li>
							</ul>
						</li>
						<li>After creating a shortened link you should see a modal popup with the new shortened link, and a screenshot of the page the shortened link points to. Please take a look at <a href="http://phantomjs.org/screen-capture.html">phantomJS</a>.</li>
						<li>User's should be able to register/login to revisit their previously shortened links.
							<ul>
								<li>When logged in:
									<ul>
										<li>users should not see the robot validation</li>
										<li>users should see a list of their previously shortened URL's.
											<ul>
												<li>You should display the full link, how many days (if less than 20) or the date the link was shortened, the shortened link and how many clicks to the link have been made. Add a button or a menu to provide a link that displays the shortened link's analytics.</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>Analytics per link should store information about who is accesing it:
							<ul>
								<li>Referers</li>
								<li>Agents (Browsers)</li>
								<li>Location (Use one of the free <a href="https://www.maxmind.com/en/geoip-demo">GeoIP</a> databases for this)</li>
								<li>Platforms (OS information)</li>
								<li>Clicks per link over time.</li>
								<li>You should display these metrics using charts for everything. Please select the most appropriate graphical representation for each.</li>
							</ul>
						</li>
						<li>Users should be able to delete created links.</li>
						<li>Your system should highlight stale links (links that haven't been clicked in about a month)</li>
					</ul>
					<h3>Stretch goals</h3>
					<ul>
						<li>Use a different client, you could try using hybrid frameworks like Ionic or NativeScript for these purposes.</li>
						<li>Generate a QR code per generated link.</li>
					</ul>
					<h3>Notes</h3>
					<ul>
						<li>Use Bootstrap as your grid system.</li>
						<li>Final project needs to be hosted on our server.</li>
						<li>Evaluation will be made first upon final working product and then validated against actual code requirements.</li>
						<li>Architectural considerations will be taken into account for final grade.</li>
						<li>Framework documentation <strong>MUST</strong> be present, checkout documentation generators like doxygen for this task.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>